<title>{{title}}</title>
<div class="card shadow small">
    <div class="card-header">
        <h5 class="card-text">Quản lý bài viết danh mục: {{this.category.name}}</h2>
    </div>
    <div id="catid" style="display: none;">{{this.category._id}}</div>
    <div class="card-body">
        <h6 class="card-title">
            <i class="fa fa-pencil" aria-hidden="true"></i> Xem bài viết:
            <span>
                <select id="type" class="round form-control small" style="width: 130px; display:inline-block">
                    <option value="true">Đã duyệt</option>
                    <option value="false" {{#if this.flag}} selected {{/if}}>Chưa duyệt</option>
                </select>
            </span>
            <button id="filter" class="btn btn-light btn-outline-dark btn-sm ml-3" style="margin-top:-3px;"
                type="button">
                <i class="fa fa-eye" aria-hidden="true"></i> Xem
            </button>
        </h6>

        <div class="row">
            {{#each this.posts}}
            <div class="col-sm-4 mt-3">
                <div class="card h-100 shadow-sm">
                    <div>
                        <img src="{{{image}}}" alt="" title="" class="car-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-light btn-outline-primary btn-sm ml-4" role="button"
                            href="/admin/watch-post/{{_id}} ">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Chi tiết
                        </a>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
        {{#compare this.nPages  0 context=this operator=">"}}
        <div class="row">
            <div class="col-sm-12 mt-4">
                <nav aria-label="...">
                    <ul class="pagination">
                        {{#compare page  1 operator="=="}}
                        <li class="page-item  disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li>
                            {{this.prePage}}
                        </li>
                        {{/compare}}
                        {{#compare page  1 context=this operator=">"}}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{this.prePage}}">Previous</a>
                        </li>
                        <li>
                        </li>
                        {{/compare}}
                        {{#each this.pages}}
                        <li class="page-item {{#if active}} active {{/if}}">
                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                        </li>
                        {{/each}}
                        {{#compare page  nPages context=this operator="<"}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{this.nextPage}}">Next</a>
                        </li>
                        {{/compare}}
                        {{#compare page  nPages operator=">="}}
                        <li class="page-item  disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                        {{/compare}}
                    </ul>
                </nav>
            </div>
        </div>
        {{/compare}}
    </div>
</div>

<div class="modal fade" id="addcat_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới danh mục</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div>
                        <label class="control-label">Tên danh mục</label>
                        <span class="text-danger" id="valid_catname" style="display:none;">Không bỏ trống mục này</span>
                        <div>
                            <input id="catname" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="addcat" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 300px;">
        <div class="modal-content text-center bg-success">
            <h6 class="modal-title text-white" style="padding: 16px 0px;">Thành công!</h6>
        </div>
    </div>
</div>

<div class="modal fade" id="editcat_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa danh mục</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div>
                        <label class="control-label">Tên danh mục</label>
                        <span class="text-danger" id="valid_catname" style="display:none;">Không bỏ trống mục này</span>
                        <div>
                            <input id="new_catname" class="form-control" />
                            <input id="catid" style="display: none" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="editcat" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#addcat').on('click', function () {

            if ($('#catname').val() == '') {
                $('#valid_catname').css({ 'display': 'inline-block' })
            }

            else {
                var data = {
                    "name": $('#catname').val(),
                };

                $.ajax({
                    type: 'POST',
                    url: '/admin/category/insert',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res, text, xhr) {

                        if (xhr.status == 200) {
                            $('#addcat_dialog').modal('toggle');
                            $('#catname').val("");

                            var count = $('#tb_data tbody tr').length + 1;

                            $('#tb_data tbody').append($('<tr>')
                                .append($('<td>')
                                    .css({ 'display': 'none' })
                                    .text(res._id))
                                .append($('<td>')
                                    .text(count))
                                .append($('<td>')
                                    .text(res.name))
                                .append($('<td>')
                                    .text(""))
                                .append($('<td>')
                                    .append($('<a href="javascript:void(0)">')
                                        .on('click', function () {
                                            //Do Something later
                                        })
                                        .text('Chi tiết'))
                                    .append($('<span>')
                                        .text(' | '))
                                    .append($('<a href="javascript:void(0)">')
                                        .on('click', function () {
                                            edit(res._id, res.name);
                                        })
                                        .text('Chỉnh sửa'))));

                            NotifySuccess();
                        }
                    },
                })
            }
        })

        $('#editcat').on('click', function () {
            var newname = $('#new_catname').val();
            var data = {
                "_id": $('#catid').val(),
                "name": newname,
            }

            $.ajax({
                type: 'POST',
                url: '/admin/category/update',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (res, textStatus, xhr) {
                    if (xhr.status == 200) {
                        $('#editcat_dialog').modal('toggle');

                        var row = $('#tb_data tbody tr').eq(row_index);
                        console.log(row.text());
                        var cell = row.find('td').eq(2);
                        console.log(cell.text());
                        cell.text(newname)

                        NotifySuccess();
                    }
                }
            })
        })

        $('#filter').on('click', function () {
            var type = $('#type option:selected').val();
            var catid = $('#catid').text();
            console.log('catid: ', catid);
            if (type == 'true') {
                $(location).attr('href', `/admin/category/${catid}/posts`);
            }
            else {
                $(location).attr('href', `/admin/category/${catid}/posts/unpublished`);
            }
        })
    });

    var row_index;

    function edit(index) {
        row_index = index;

        var row = $('#tb_data tbody tr').eq(index);
        var name = row.find('td').eq(2).text();
        var id = row.find('td').eq(0).text();

        $('#new_catname').val(name);
        $('#catid').val(id);
        $('#editcat_dialog').modal('toggle');
    }

    function NotifySuccess() {
        $('#success_dialog').modal('toggle');
        setTimeout(function () {
            $('#success_dialog').modal('toggle');
        }, 1000);
    }
</script>