<title>{{title}}</title>
<div id="body" class="container-post padding-32">
    <!-- POST -->
    <!-- HEADER POST -->
    <div id="postid" style="display:none">{{model._id}}</div>
    <div id="catid" style="display:none">{{model.categoryid}}</div>
    <div id="ispublish" style="display:none">{{model.publish}}</div>
    <div class="body-post">
        <h1 class="padding-16 xxlarge" style="line-height: 40px;">
            {{model.title}}
        </h1>
        <p class="text-grey medium">
            {{{model.summary}}}
        </p>
        <div class="text-grey small">
            <i class="fa fa-clock-o large" aria-hidden="true" style="margin-top:8px;"></i><span id="datetime"
                style="padding-left: 5px;"></span>
            <span class="text-grey" style="font-size:14px; right:120px; position:absolute;">
                {{#if model.tag}}

                <span>Sự kiện: </span>
                {{{gettag model.tag}}}
                {{/if}}
                
                <!--span>
                    <a style="text-decoration:underline;" href="#">{{name}}</a>
                </span-->


               
            </span>

        </div>
    </div>

    <!-- CONTENT POST -->
    <div class="white padding-16">
        <!--FEED BACK -->
        <div style="display: flex; margin-left: 100px; margin-bottom:20px;" class="feedback-bar clearfix padding-16">
            <div class="feedback-icon">
                <a id="facebook" href="#" style="padding-left:4.5px;">
                    <i class="fa fa-facebook icon" aria-hidden="true"></i>
                </a>
            </div>
            <div class="feedback-icon">
                <a id="twitter" href="#">
                    <i class="fa fa-twitter icon" aria-hidden="true"></i>
                </a>
            </div>
            <div class="feedback-icon">
                <a id="youtube" href="#">
                    <i class="fa fa-youtube-play icon" aria-hidden="true"></i>
                </a>
            </div>
            <div class="feedback-icon">
                <a id="instagram" href="#">
                    <i class="fa fa-instagram icon" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <!-- BODY POST -->
        <div class="body-post padding-16">
            {{{model.content}}}
        </div>
    </div>
</div>

<div class="modal fade" id="delete_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa bài viết</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div>
                        <label class="control-label">Nhập từ <span class="text-danger bold">'YES'</span> để xóa bài
                            viết</label>
                        <div>
                            <input id="verify" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="delete" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="publish_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Duyệt bài viết</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div>
                        <label class="control-label">Bạn có muốn duyệt bài viết này?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="publish" class="btn btn-primary" type="button">OK</button>
            </div>
        </div>
    </div>
</div>

<div style="position:fixed; bottom: 50px; right:50px; z-index:3;">
    <button class="btn btn-dark" id="editpost" style="width: 130px;">
        <i class="fa fa-wrench" aria-hidden="true"></i> Hiệu chỉnh
    </button>
    <button class="btn btn-dark" id="deletepost" style="width: 130px;">
        <i class="fa fa-eraser" aria-hidden="true"></i> Xóa bài
    </button>
    <br />
    {{#if model.publish}}
    <button id="published" class="btn btn-light btn-outline-primary mt-2" style="width: 130px;" type="button">
        <i class="fa fa-check" aria-hidden="true"></i> Đã duyệt
    </button>
    {{else}}
    <button id="publishpost" class="btn btn-dark mt-2" style="width: 130px;" type="button">
        <i class="fa fa-check" aria-hidden="true"></i> Duyệt bài
    </button>
    <button id="published" class="btn btn-light btn-outline-primary mt-2" style="width: 130px; display:none;" type="button">
        <i class="fa fa-check" aria-hidden="true"></i> Đã duyệt
    </button>
    
    {{/if}}
    <button id="back" class="btn btn-dark mt-2" style="width: 130px;">
        <i class="fa fa-backward" aria-hidden="true"></i> Quay về
    </button>
</div>
<script type="text/javascript">
    var catid = $('#catid').text();
    var id = $('#postid').text();
    var publish = $('#ispublish').text();
 
    $(document).ready(function () {
        getdate();

        $('#editpost').on('click', function () {
            $(location).attr('href', `/writter/upload/edit/${id}`);
        })

        $('#deletepost').on('click', function () {
            $('#delete_dialog').modal('toggle');
        })

        $('#delete').on('click', function () {
            var text = $('#verify').val();            
            if (text.toLowerCase() == 'yes') {
                $.ajax({
                    type: 'POST',
                    url: `/admin/watch-post/${id}/delete`,
                    success: function (res, textStatus, jqXHR) {
                        console.log(jqXHR);
                        if (jqXHR.status == 200) {                            
                            $(location).attr('href', `/admin/category/${catid}/posts`);
                        }
                    }
                })

            }
        })

        $('#publishpost').on('click', function () {
            $('#publish_dialog').modal('toggle');
        })

        $('#publish').on('click', function () {
            $.ajax({
                type: 'POST',
                url: `/admin/watch-post/${id}/publish`,
                success: function (data, textStatus, jqXHR) {
                    if (data.code == 200) {
                        $('#publish_dialog').modal('toggle');
                        NotifySuccess();
                        $('#publishpost').css({'display':'none'})
                        $('#published').css({'display':'inline-block'})
                    }
                }
            })
        })

        $('#back').on('click', function () {
            if(publish=='true'){
                $(location).attr('href', `/admin/category/${catid}/posts`);
            }
            else{
                $(location).attr('href', `/admin/category/${catid}/posts/unpublished`);
            }  
        })
    })

    function getdate() {
        var date = new Date();
        var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var day = days[date.getDay()];
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var m = months[date.getMonth()];
        var y = date.getFullYear();
        var d = date.getDate();
        var hour = date.getHours();
        var min = date.getMinutes();

        var str = day + ' ' + d + ' ' + m + ' ' + y + ' ' + hour + ':' + min;

        $('#datetime').text(str);
    }
</script>