<title>{{title}}</title>
<div class="card shadow small">
    <div class="card-header">
        <h5 class="card-text">Quản lý dán nhãn</h2>
    </div>
    <div class="card-body">

        <div style="float:right" class="mb-3">
            <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#addtag_dialog"
                type="button">
                <i class="fa fa-plus" aria-hidden="true"></i> Thêm danh mục
            </button>
        </div>

        <table id="tb_data" class="table table-bordered table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Dán nhãn</th>
                    <th scope="col">Số bài viết</th>
                    <th scope="col" class="text-center" style="width: 300px;">
                        <i class="fa fa-wrench" aria-hidden="true"></i> Tùy chỉnh
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each this.tag}}
                <tr>
                    <td style="display:none">{{slug}}</td>
                    <td>{{counter @index}}</td>
                    <td>{{name}}</td>
                    <td class="text-center">
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <a href="/admin/tag/{{slug}}/posts"> Chi tiết</a>
                        <span> | </span>
                        <a href="javascript:void(0)" onclick="edit('{{@index}}' )"> Chỉnh sửa </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addtag_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới dán nhãn</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div>
                        <label class="control-label">Tên dán nhãn</label>
                        <span class="text-danger" id="valid_catname" style="display:none;">Không bỏ trống mục này</span>
                        <div>
                            <input id="tagname" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="addtag" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edittag_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa dán nhãn</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div>
                        <label class="control-label">Tên dán nhãn</label>
                        <span class="text-danger" id="valid_tagname" style="display:none;">Không bỏ trống mục này</span>
                        <div>
                            <input id="new_tagname" class="form-control" />
                            <input id="tagid" style="display: none" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="edittag" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#addtag').on('click', function () {

            if ($('#tagname').val() == '') {
                $('#valid_tagname').css({ 'display': 'inline-block' })
            }

            else {
                var data = {
                    "name": $('#tagname').val(),
                };

                $.ajax({
                    type: 'POST',
                    url: '/admin/tag/insert',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res, text, xhr) {

                        if (xhr.status == 200) {
                            console.log('res: ',res);
                            $('#addtag_dialog').modal('toggle');
                            $('#tagname').val("");

                            var count = $('#tb_data tbody tr').length + 1;

                            $('#tb_data tbody').append($('<tr>')
                                .append($('<td>')
                                    .css({ 'display': 'none' })
                                    .text(res._id))
                                .append($('<td>')
                                    .text(count))
                                .append($('<td>')
                                    .text(res.name))
                                .append($('<td>')
                                    .text(""))
                                .append($('<td>')
                                    .append($('<a href="javascript:void(0)">')
                                        .on('click', function () {
                                            //Do Something later
                                        })
                                        .text('Chi tiết'))
                                    .append($('<span>')
                                        .text(' | '))
                                    .append($('<a href="javascript:void(0)">')
                                        .on('click', function () {
                                            edit(res._id, res.name);
                                        })
                                        .text('Chỉnh sửa'))));

                            NotifySuccess();
                        }
                    },
                })
            }
        })

        $('#edittag').on('click', function () {
            var newname = $('#new_tagname').val();
            var data = {
                "_id": $('#tagid').val(),
                "name": newname,
            }

            $.ajax({
                type: 'POST',
                url: '/admin/tag/update',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (res, textStatus, xhr) {
                    if (xhr.status == 200) {
                        $('#edittag_dialog').modal('toggle');

                        var row = $('#tb_data tbody tr').eq(row_index);
                        console.log(row.text());
                        var cell = row.find('td').eq(2);
                        console.log(cell.text());
                        cell.text(newname)

                        NotifySuccess();
                    }
                }
            })
        })

        const tags = [];
        $('#tb_data tbody tr').each(function () {
            var slug = $(this).find('td').eq(0).text();
            tags.push(slug);
        });     

        (async function main() {
            try {
                for (let i = 0; i < tags.length; i++) {
                    var data = {
                        "tag": tags[i],
                    }
                    //console.log(data);
                    await $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        url: '/admin/tag/countpost',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function (res) {                            
                            $('#tb_data tbody tr').eq(i).find('td').eq(3).text(res.data);
                        }
                    })
                }
            }
            catch (ex) {
                console.log(ex.message);
            }
        })();
    });

    var row_index;

    function edit(index) {
        row_index = index;

        var row = $('#tb_data tbody tr').eq(index);
        var name = row.find('td').eq(2).text();
        var id = row.find('td').eq(0).text();

        $('#new_tagname').val(name);
        $('#tagid').val(id);
        $('#edittag_dialog').modal('toggle');
    }

    function NotifySuccess() {
        $('#success_dialog').modal('toggle');
        setTimeout(function () {
            $('#success_dialog').modal('toggle');
        }, 1000);
    }
</script>