
<!-- BODY CONTENT -->
<div id="body" class="content row">
  <!--TOP STORIES SECTION -->
  <div class="clearfix">
    <h1 class="padding-16">Top Stories</h1>
    <!-- No.1 post -->
    <div class="gallery clearfix top_post" style="width: 100%;">
      <div class="col two-third">
        <div class="background-container" style="height: 350px;">
          <div class="background-img">
            <img src={{top.imageURL}}>
          </div>
        </div>
      </div>
      <div class="col third padding-48 padding-large">
        <span class="red bold text-white padding-small small">LIVE</span>
        <span class="yellow bold padding-small small">BREAKING</span>
        <span style="padding-left: 10px" class="opacity">
          <a href="#">US</a></span>
        <br />
        <p class="xlarge padding-32">
          {Crucial moment for Trump's presidency as Mueller report released}
        </p>
      </div>
    </div>

    <div class="row nopadding"> 
      {{!-- {{#each data}} --}}
        {{#each data}}
        <a href="/post/{{_id}}">
          <div class="ml-2 mt-2 col-md-4 third gallery">
            <div class="background-container clearfix">
              <div class="background-img clearfix">
                <img src='https://homepages.cae.wisc.edu/~ece533/images/airplane.png'/>
              </div>
            </div>
            <div class="padding small desc">
              <span class="type padding-16">
                {{tag}}
              </span>
              <span>
                <a href="#"> {{category}}</a>
              </span>
              <div class="medium padding-16">
                {{title}}
              </div>
            </div>
          </div>
          </a>
        {{/each}}
        {{!-- {{/each}} --}}
    </div>
  </div>
  <!-- VIDEOS -->
  <div class="clearfix">
    <h1 class="padding-16">Videos</h1>
    <div class="row nopadding">
      {{#each topNews}}
      <div class="col-md-4 third ml-2 mr-2 mt-2 gallery">
        <div class="background-container clearfix">
          <div class="background-img" style="background-image: url('./images/home/videos/video1.png');">
          </div>
          <i class="fa fa-play-circle-o button-play" aria-hidden="true"></i>
        </div>
        <div class="padding small clearfix desc">
          <a href="#">World</a>
          <p class="medium padding-16">
            Great white shark hunts near surfers
          </p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <!-- TRENDING -->
  <div id="trending" class="padding-16" style="width: 100%;">
    <h1 class="padding-32">Trending</h1>
    <div class="clearfix border-box white row medium padding-large">
      <div class="half col padding-large">
        <ol>
          {{#each trendCol1}}
          <li>
            <a class="padding-16" href="#">{{title}}</a>
          </li>
          {{/each}}
        </ol>
      </div>
      <div class="half col padding-large">
        <ol start="6">
          {{#each trendCol2}}
          <li><a class="padding-16" href="#">{{title}}</a>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

</div>

<!--Footer -->
