<!-- BODY CONTENT -->
<div id="body" class="content row">
  <!--Hiển thị 3-4 bài viết nổi bật nhất tuần-->
  <div class="clearfix">
    <h1 class="padding-16"> Bài viết nổi bật nhất trong tuần</h1>

    <!-- No.1 post -->
    <a href="/post/{{top._id}}">
      <div class="gallery clearfix top_post" style="width: 100%;">
        <div class="col two-third">
          <div class="background-container" style="height: 350px;position:relative;">
            <div class="background-img">
              <img src={{top.image}}>
            </div>
            {{#if top.ispremium}}
            <div style="position:absolute; top:10px; left:10px;">
              <div class="btn btn-sm  yellow bold padding-small small">Premium</div>
            </div>
            {{/if}}
          </div>
        </div>
        <div class="col third padding-48 padding-large">
          <span class="opacity">
            <a href="/posts/{{categorySlug}}" class=" ml-3"> {{categoryName}}</a> </span>
          <br />
          <span class="red bold text-white padding-small small">Nổi bật</span>
          <br />
          <p class="xlarge padding-32">
            {{top.title}}
          </p>
        </div>
      </div>
    </a>
    <!-- Hiển thị bài viết No.2 - No.4 -->
    <div class="row nopadding">
      {{!-- {{#each data}} --}}
      {{#each data}}
      <a href="/post/{{_id}}">
        <div class="ml-2 mt-2 col-md-4 third gallery">
          <div class="clearfix">
            <div class="background-container clearfix" style="position:relative;">
              <div class="background-img clearfix" style="background-image: url({{image}});">
              </div>
            </div>
            {{#if ispremium}}
            <div style="position:absolute; top:10px; left:10px;">
              <div class="btn btn-sm  yellow bold padding-small small" style="padding:2px 2px;">Premium</div>
            </div>
            {{/if}}
          </div>
          <div class="clearfix mt-2">
            <a href="/posts/{{categorySlug}}" class="ml-3 w3-teal" style="margin-top:10px;"> {{categoryName}}</a>
            <div class="padding small desc">
              {{#each tags}}
              {{#each this}}
              <a href="/posts/tag/{{this}}">
                <span class="type padding-16">
                  {{@key}}
                </span>
              </a>
              {{/each}}
              {{/each}}
              <div class="medium padding-16">
                {{title}}
              </div>
            </div>
          </div>


        </div>
      </a>
      {{/each}}
      {{!-- {{/each}} --}}
    </div>
  </div>
  <!-- 10 bài viết mọi chuyên mục, mới nhất -->
  <div class="clearfix">
    <h1 class="padding-16">Các bài viết mới nhất</h1>
    <div class="row nopadding">
      {{#each topNews}}
      <a href="/post/{{_id}}">
        <div class="col-md-4 third ml-2 mt-2 gallery">
          <div class="background-container clearfix" style="">
            <div class="background-img clearfix" style="background-image: url({{image}});">
            </div>
          </div>
          <a href="/posts/{{categorySlug}}" class="ml-3"> {{categoryName}}</a>
          <div class="padding small desc">
            {{#each tags}}
            {{#each this}}
            <a href="/posts/tag/{{this}}">
              <span class="type padding-16">
                {{@key}}
              </span>
            </a>
            {{/each}}
            {{/each}}
            <div class="medium padding-16">
              {{title}}
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <!-- 10 bài viết mọi chuyên mục, được xem nhiều nhất -->
  <div class="clearfix">
    <h1 class="padding-16">Các bài viết được xem nhiều nhất</h1>
    <div class="row nopadding">
      {{#each latestNews}}
      <a href="/post/{{_id}}">
        <div class="col-md-4 third ml-2 mt-2 gallery">
          <div class="background-container clearfix" style="">
            <div class="background-img clearfix" style="background-image: url({{image}});">
            </div>
          </div>
          <a href="/posts/{{categorySlug}}" class="ml-3"> {{categoryName}}</a>
          <div class="padding small desc">
            {{#each tags}}
            {{#each this}}
            <a href="/posts/tag/{{this}}">
              <span class="type padding-16">
                {{@key}}
              </span>
            </a>
            {{/each}}
            {{/each}}
            <div class="medium padding-16">
              {{title}}
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>


  <!-- Mỗi chuyên mục 1 bài vi -->
  <div class="clearfix">
    <h1 class="padding-16">Mỗi chuyên mục một bài viết mới</h1>
    <div class="row nopadding">
      {{#each topCategory}}
      <a href="/post/{{_id}}">
        <div class="col-md-4 third ml-2 mt-2 gallery">
          <div class="background-container clearfix" style="">
            <div class="background-img clearfix" style="background-image: url({{image}});">
            </div>
          </div>
          <a href="/posts/{{categorySlug}}" class=" ml-3"> {{categoryName}}</a>
          <div class="padding small desc">
            {{#each tag}}
            <span class="type padding-16">
              {{this}}
            </span>
            {{/each}}
            <div class="medium padding-16">
              {{title}}
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>

  <!-- the end -->
  {{!-- <div id="trending" class="padding-16" style="width: 100%;">
    <h1 class="padding-32">Top các bài viết</h1>
    <div class="clearfix border-box white row medium padding-large">
      <div class="half col padding-large">
        <ol>
          {{#each trendCol1}}
          <li>
            <a class="padding-16" href="#">{{title}}</a>
          </li>
          {{/each}}
        </ol>
      </div>
      <div class="half col padding-large">
        <ol start="6">
          {{#each trendCol2}}
          <li><a class="padding-16" href="#">{{title}}</a>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div> --}}

</div>

<!--Footer -->